[submodule "anomaly_detection_pyconca"]
	path = anomaly_detection_pyconca
	url = git@github.com:JeffLabonte/anomaly-pyconca.git
[submodule "workshop"]
	path = workshop
	url = git@github.com:JeffLabonte/pycon.ca.git
